name = "e"
main = "_worker.js"
compatibility_date = "2026-01-20"
keep_vars = true

[[kv_namespaces]]
binding = "KV"
id = "aeca4dd5083545389eef18cc0a19ec40"

[placement]
mode = "smart"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1



