name = "e"
main = "_worker.js"
compatibility_date = "2026-01-26"
keep_vars = true

[[kv_namespaces]]
binding = "KV"
id = "ec2cb270e30c4d4a847a7d11096c4167"

[placement]
mode = "smart"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1

